:root {
    --primary-color: #1E375A;
    --secondary-color: #61788C;
    --color-button: #04B2D9;
    --color-hover: #2364d2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: #E4EBF2;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

#message {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Estilos del menu movil */

.menu__icons {
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-color: #04B2D9;
    padding: 10px;

}

.logo {
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 500;
}

#searchForm {
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    justify-content: center;
    margin: 0 auto;
}

#searchForm input {
    width: 80%;
    height: 40px;
    padding-left: 5px;
    border: none;
    border-radius: 100px;
    outline: none;
    font-size: 1.1rem;
}

#searchForm:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

.content-form {
    padding-top: 10px;
}

.btn {
    border: none;
    background-color: #FFF;
}

.menu__links {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.menu__links div {
    align-self: self-end;
    padding-bottom: 100px;
}

.has-submenu li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
}

.has-submenu__link {
    color: var(--primary-color);
}

.submenu {
    padding-left: 30px;
}

.submenu li a {
    color: var(--secondary-color);
}

.icon-glassDesktop,
li {
    cursor: pointer;
}

/* Estilos de nav desktop */

.menu__desktop__elements {
    background-color: #04B2D9;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.menu__desktop li:hover {
    color: var(--color-hover);
}

.menu__desktop-links,
.links {
    gap: 15px;
    font-size: 1.0rem;
    color: #FFFFFF;
    font-weight: 500;
}

.links a:first-child {
    color: #FFFFFF;
}

.links a:first-child:hover {
    color: var(--color-hover);
}

.elements-links {
    gap: 20px;
}

.submenu__Desktop {
    display: none;
    gap: 15px;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    background-color: #FFFFFF;
}

.links li:hover .submenu__Desktop {
    display: flex;
}

/* Estilos de tendencias */

main {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    max-width: 1200px;
    height: 300px;
}

.header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.title {
    color: var(--primary-color);
    font-size: 1.6rem;
    padding-block-end: 15px;
}

.container-scroll {
    display: flex;
    gap: 10px;
    height: 260px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 20px;
}

.card__movies {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.card__movies>img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content_vote {
    flex-direction: row-reverse;
    justify-content: start;
    padding-left: 10px;
}

.spanVote {
    color: var(--secondary-color);
}

.trending__TitleMovie,
.category-title {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-align: center;
}

/* Estilos de filtro por categorias */

.movie-container {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

.genericList__movieSearch {
    flex-direction: column;
}

/* Estilos de detalles de una pelicula */
.content__moviedetails {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.content-img {
    width: 100%;
    position: relative;
}

.content-img .iconbackDetail {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
}


.content-img .imgDetail {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.content-img::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.score {
    flex-direction: row;
    padding: 0 0 10px 0;
}

.movieDetail-description {
    font-size: 1.1rem;
    color: var(--secondary-color);
    margin: 0 0 24px 0;
}

.movieDetail-poster {
    display: none;
    min-width: 300px;
    width: 300px;
    height: 400px;
}

.movieDetail-poster .smallimg-detail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.categories-list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    font-size: 1.1rem;
    color: var(--color-button);
}

.relatedMovies-container {
    margin-top: 24px;
    height: 216px;
}

.relatedMovies-title {
    margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    padding-bottom: 16px;
}

.relatedMovies-scrollContainer .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 187.5px;
    min-height: 187.5px;
    max-height: 187.5px;
}

footer {
    background-color: var(--color-button);
    padding: 0 10px;
    color: var(--primary-color);
    height: 48px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inactive {
    display: none;
}


@media (min-width: 1600px) {
    .header {
        max-width: 1440px;
    }

    .menu__desktop {
        max-width: 1440px;
        margin: 0 auto;
    }

    main {
        max-width: 1440px;
    }
}

/* Media queries para 1024px */
@media (min-width: 1024px) {
    main {
        padding: 20px;
    }

    .header {
        height: 30rem;
    }

    .menu__movil {
        display: none;
    }

    .container-scroll {
        display: grid;
        grid-template-columns: repeat(auto-fill, 240px);
        gap: 26px;
        place-content: center;
        height: auto;
        overflow-x: hidden;
        margin-bottom: 40px;
    }

    /* Estilos de detalles de una pelicula */
    .moviedetails__information {
        position: absolute;
        bottom: 100px;
        left: 40px;
        width: 80%;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .movieDetail-title {
        color: #FFFFFF;
    }

    .movieDetail-description {
        color: #FFFFFF;
    }

    .content-img::after {
        bottom: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.50));
    }

    .content-img {
        height: 500px;
    }

    .content-img .imgDetail {
        height: 100%;
        object-fit: cover;
    }

    .movieDetail-poster {
        display: block;
    }

}

@media (max-width: 1023px) {
    .menu__desktop {
        display: none;
    }
}